%h2.title= @desire.title
%span.author= "By #{@desire.author || "Anonoymous"}"

%div.description
  = @desire.description
  
%div.controls
  %form{:action => "/desires/#{@desire.id}/upvote", :method => "post"}
    %input{:type => 'submit', :value => 'Upvote'}
  %a{:href => "/desires/#{@desire.id}/edit"} Edit
  %form{:action => "/desires/#{@desire.id}/delete", :method => "post"}
    %input{:type => 'submit', :value => 'Delete'}
  %form{:action => "/desires/#{@desire.id}/resolve", :method => "post"}
    %input{:type => 'submit', :value => 'Mark as resolved'}
  %form{:action => "/desires/#{@desire.id}/close", :method => "post"}
    %input{:type => 'submit', :value => 'Close'}

  
