%h2.title= @session.name
%span.scheduled_for= @session.scheduled_for.strftime("%c")

%div.description
  = @session.description
%div.control_links
  %a{:href => "/sessions/#{@session.id}/edit"} Edit
  %form{:action => "/sessions/#{@session.id}/delete", :method => "post"}
    %input{:type => 'submit', :value => 'Delete'}


